fastapi[standard]
uvicorn[standard]
jinja2
Babel
python-multipart
itsdangerous
mercadopago
bcrypt

# Dependências de teste
pytest
pytest-asyncio
pytest-cov

# Dependências de autenticação

passlib[bcrypt]
python-jose[cryptography]