<!DOCTYPE html>
<html>
<head>
    <title>Cadastro Cliente</title>
</head>
<body>
    <h1>Cadastro de Cliente</h1>
    <form method="post" action="/cadastro">
        <label>Nome:</label><input type="text" name="nome"><br>
        <label>Email:</label><input type="email" name="email"><br>
        <label>Telefone:</label><input type="text" name="telefone"><br>
        <label>Senha:</label><input type="password" name="senha"><br>
        <label>Confirmar Senha:</label><input type="password" name="confirmar_senha"><br>
        <label>CPF / CNPJ:</label><input type="text" name="cpf_cnpj"><br>
        <label>Endereço:</label><input type="text" name="endereco"><br>
        <label>Data de Nascimento:</label><input type="date" name="data_nascimento"><br>
        <label>Gênero:</label><input type="text" name="genero"><br>
        <button type="submit">Cadastrar</button>
        {% if erro %}
            <p style="color:red;">{{ erro }}</p>
        {% endif %}
    </form>
</body>
</html>
