{% extends "cliente/_layout.html" %}
{% block title %}Painel do Cliente{% endblock %}

{% block content %}
<div class="p-5 mb-4 bg-white rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Bem-vindo(a) à sua área, Cliente!</h1>
        <p class="col-md-8 fs-4">Aqui você pode gerenciar suas contratações e solicitações de serviço de forma simples e rápida.</p>
        <a href="{{ url_for('catalogo_prestadores') }}" class="btn btn-primary btn-lg">Buscar Novos Prestadores</a>
    </div>
</div>
{% endblock %}
