<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    {% block css %}{% endblock %}
    <title>Obratto :: {% block titulo %}{% endblock %}</title>
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark fundo-azul">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center py-3 logo" href="#">
                    <img src="/static/img/logo_preta_casinha.png" alt="Logo" height="40" class="me-2">
                    <img src="/static/img/logo_preta_nome.png" alt="Logo" height="40" class="me-2">
                </a>
                {% block menu %}
                {% endblock %}
            </div>
        </nav>
    </header>
    {% block conteudo %}
    {% endblock %}
    <footer id="rodapé" class="text-white py-4">
        <div class="container text-center">
            <div class="logo-footer mb-3">
                <img src="/static/img/logo_branca.png" alt="" id="logo-footer">
            </div>
            <p class="mb-2">Transformando a forma como a construção civil conecta profissionais, fornecedores e clientes.</p>

            <nav class="mb-3">
                <a href="/" class="text-white text-decoration-none mx-2">Home</a> |
                <a href="/servicos" class="text-white text-decoration-none mx-2">Serviços</a> |
                <a href="/" class="text-white text-decoration-none mx-2">Sobre nós</a> |
                <a href="/" class="text-white text-decoration-none mx-2">Contato</a>
            </nav>

            <hr class="border-light">

            <p class="mb-0 text-muted">&copy; 2025 Obratto. Todos os direitos reservados.</p>
        </div>
    </footer>
    {% block scripts %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>