body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
}

header {
  background-color: #171370;
  height: 70px;
}

.container {
  text-align: center;
  padding: 40px 20px;
  background-color: #f5f5f5;
  position: relative;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: #1a0973;
  margin-bottom: 1px;
}

.logo img {
  vertical-align: middle;
  width: 500px;
  margin-right: 20px;
}

h2 {
  font-size: 28px;
  margin-bottom: 50px;
}

.button {
  display: block;
  width: 500px;
  margin: 15px auto 5px;
  padding: 15px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.btn-cliente {
  background-color: #171370;
}

.btn-prestador {
  background-color: #E85F4B;
}

.btn-fornecedor {
  background-color: #e3b41d;
  color: white;
}

.desc {
  font-size: 14px;
  margin-bottom: 15px;
}

.tools-image {
  position: relative;
  bottom: 413px;
  left: 700px;
  width: 500px;
}

@media (max-width: 500px) {
  .button {
    width: 90%;
  }

  .tools-image {
    width: 120px;
  }
}
