/* Cores de fundo */
#fundo {
    background-color: #EEEEEE;
}

.navbar.fundo-azul {
    background-color: #171370;
}

/* Logo */
.logo {
    height: 60px;
    padding: 10px;
    background-color: white; /* ou transparente se preferir */
    border-radius: 8px;
}

.logo-padding {
  padding-bottom: 10px;
    padding-top: 10px;
}


/* Margens */
.margem-inferior, .botao-margem {
    margin-bottom: 30px;
}

.botao-margem-ajustada {
    margin-bottom: 30px;
    margin-top: -23px;
}

.margem-superior-50 {
    margin-top: 50px;
}

/* Botões centralizados */
.botao-centralizado,
.centraliza-botao,
.centralizado {
    display: block;
    margin: 0 auto;
}

/* Links sem sublinhado */
.link-sem-sub,
.link-sem-sublinhado,
.sem-sub-linha,
.sem-sublinhado {
    text-decoration: none;
}
