<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Obratto - Selecione uma opção</title>
  <link rel="stylesheet" href="/static/css/cadastro.css">
</head>
<body>
   <header id="header">
                <nav class="navbar bg-body">
                    <div class="container-fluid" style="background-color: #171370;">
                    </div>
                </nav>
            </header>
  <div class="container">
    <div class="logo">
      <img src="/static/img/logo_trasparente.png" alt="Casa" class="logo-img">
    </div>

    <h2>Selecione uma opção:</h2>

    <button class="button btn-cliente">Continuar como Cliente</button>
    <div class="desc">solicite serviços ou produtos de forma rápida e segura.</div>

    <button class="button btn-prestador">Continuar como Prestador</button>
    <div class="desc">Ofereça seus serviços e encontre novos clientes.</div>

    <button class="button btn-fornecedor">Continuar como Fornecedor</button>
    <div class="desc">Cadastre sua empresa para fornecer materiais e soluções.</div>

    <img src="/static/img/martelo.png" alt="Ferramentas" class="tools-image">
  </div>
</body>
</html>
